body,h1,h2 {

  margin: 0px;
}
h1 {
  text-transform: uppercase;
}
header {

  color: #d67171;
  font-family: monospace;
  text-align:center;
}
hr {
  border-width: 1px;
  border-color: #ff8585;
  border-style: solid;
}
html {
  background-image: url(https://thumbs.gfycat.com/FrigidLavishAmazondolphin-size_restricted.gif);
  background-size: 2000px;
  background-attachment: local, scroll;
  background-blend-mode: color-dodge;
}
p,h3,ul{color: #d67171;
  font-family: monospace;
  text-align:center;
  text-shadow: 0px 0ch 5px #bf8888;
  margin: 5px;
    }
body {
}
section{  border-color: #ff8585;
  border-width: 5px;
  border-style: dotted;
  margin: 50px;
  padding: 10px;
  background-color: pink;
  background-blend-mode: normal;}